.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    width: 520px;
    max-height: 80vh;
    overflow-y: auto;
    background: rgb(105, 99, 99);
    border-radius: 12px;
    padding: 20px;
    position: relative;
}   

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: black;
}

.complaint-card {
    border: 1px solid #ddd;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
}

.complaint-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.complaint-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.complaint-reason {
    text-align: left;
    margin-top: 5px;
}

.eye {
    font-size: 18px;
    margin-left: 10px;
}

.eye-blue {
    color: blue;
}

.eye-gray {
    color: gray;
}

.appeal-button {
    margin-top: 10px;
    cursor: pointer;
    padding: 12px 24px;

    background-color: #8f8686;
    color: white;
    border-radius: 12px;
}
